<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../components/status-rule/status-rule.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<!--
`status-controller`


@demo demo/index.html 
-->

<dom-module id="status-controller">
    <template>
        <style>
            :host {
                display: block;
                font-family: 'Roboto', 'Noto', sans-serif;
            }
        </style>
        <style is="custom-style">
            paper-toolbar.red {
                --paper-toolbar-background: #cc0000;
            }
            paper-button[disabled] {
                background: transparent;
                color: black;
            }
            .ruleset {
                display: flex;
                flex-wrap: wrap;
                padding: 0 10px;
            }
        </style>

        <iron-ajax url="/thresholds.json" last-response="{{rules}}" on-response="rulesLoaded" handle-as="json" auto></iron-ajax>

        <paper-toolbar class="red">
            <div class="title">Status Controller</div>
            <paper-button on-tap="addRule">
                <iron-icon icon="icons:add-box"></iron-icon>
                Add Rule
            </paper-button>
            <paper-button disabled="[[!stale]]" on-tap="save">
                <iron-icon icon="icons:save"></iron-icon>
                [[saveText(stale)]]
            </paper-button>
        </paper-toolbar>

        <div class="ruleset">
            <template is="dom-repeat" items="{{rules}}">
                <status-rule index="[[index]]" duration="{{item.duration}}" status="{{item.status}}"></status-rule>
            </template>
        </div>

    </template>

    <script>
        Polymer({

            is: 'status-controller',

            properties: {
                rules: {
                    type: Array,
                    value: [],
                },
                stale: {
                    type: Boolean,
                    value: false,
                },
            },

            listeners: {
                removeRule: 'removeRule',
                updateRule: 'updateRule',
            },

            observers: [
                'staleRules(rules.*)',
            ],

            addRule: function addRule() {
                this.push('rules', {
                    status: '',
                    duration: 0,
                });
            },

            removeRule: function removeRule(event, index) {
                this.splice('rules', index, 1);
            },

            updateRule: function updateRule(event, detail) {
                this.set('rules.'+detail.index, { status: detail.status, duration: detail.duration });
            },

            save: function save() {
                var json = JSON.stringify(this.get('rules'));
                console.log('saved ' + json);
                this.set('stale', false);
            },

            saveText: function saveText() {
                return this.get('stale') ? 'Save' : 'Saved';
            },

            rulesLoaded: function rulesLoaded() {
                console.log('rules loaded');
                this.set('stale', false);
            },

            staleRules: function staleRules() {
                console.log('rules are stale');
                this.set('stale', true);
            },

        });
    </script>
</dom-module>
